<!--  Author:sugou -->
<!--  Date:2022/05/07 -->
<!--  Copyright Notice:IT Engineer Center Co.,Ltd. -->
<!--  Description:商品詳細画面です。 -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>商品詳細画面</title>
<meta charset="UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<!-- <meta http-equiv="content-type" content="text/html; charset=UTF-8" /> -->
<link href="/css/goodsDetail.css" th:href="@{/css/goodsDetail.css}" rel="stylesheet" />
<link href="/css/top.css" th:href="@{/css/top.css}" rel="stylesheet" />
<script th:src="@{/js/top.js}" type="text/javascript"></script>
</head>

<body th:background="@{/image/backGround/bd_bg02.gif}">

	<div th:include="~{block/top::headertop}"></div>

	<div align="center">
		<table>
			<tr valign="top">
				<td>
					<div class="frame_outside">
						<table class="table_width">
							<tr>
								<td>
									<!-- メルマガ登録 -->
									<a th:href="@{/html/unmounting.html}">
										<img th:src="@{/image/sideButton/mailmaga_btn01.gif}" class="img_border" />
									</a>
								</td>
							</tr>
							<tr>
								<td>
									<!--  ネットショッピング -->
									<a th:href="@{/html/unmounting.html}">
										<img th:src="@{/image/sideButton/point_mu01.gif}" class="img_border" />
									</a>
								</td>
							</tr>
							<tr>
								<td>
									<!--  オークション -->
									<a th:href="@{/html/unmounting.html}">
										<img th:src="@{/image/sideButton/point_mu02.gif}" class="img_border" />
									</a>
								</td>
							</tr>
							<tr>
								<td>
									<!--  本やCDのお買い物 -->
									<a th:href="@{/html/unmounting.html}">
										<img th:src="@{/image/sideButton/point_mu03.gif}" class="img_border" />
									</a>
								</td>
							</tr>
							<tr>
								<td>
									<!--  宿泊予約・切符購入 -->
									<a th:href="@{/html/unmounting.html}">
										<img th:src="@{/image/sideButton/point_mu04.gif}" class="img_border" />
									</a>
								</td>
							</tr>
							<tr>
								<td>
									<!--  アンケート -->
									<a th:href="@{/html/unmounting.html}">
										<img th:src="@{/image/sideButton/point_mu05.gif}" class="img_border" />
									</a>
								</td>
							</tr>
							<tr>
								<td>
									<!--  歩いて -->
									<a th:href="@{/html/unmounting.html}">
										<img th:src="@{/image/sideButton/point_mu06.gif}" class="img_border" />
									</a>
								</td>
							</tr>
							<tr>
								<td>
									<!--  音楽を聴いて -->										
									<a th:href="@{/html/unmounting.html}">
										<img th:src="@{/image/sideButton/point_mu08.gif}" class="img_border" />
									</a>
								</td>
							</tr>
							<tr>
								<td>
									<!--  映画やドラマを見て -->
									<a th:href="@{/html/unmounting.html}">
										<img th:src="@{/image/sideButton/point_mu09.gif}" class="img_border" />
									</a>
								</td>
							</tr>
							<tr>
								<td>
									<!--  無料登録 -->
									<a th:href="@{/html/unmounting.html}">
										<img th:src="@{/image/sideButton/point_mu10.gif}" class="img_border" />
									</a>
								</td>
							</tr>
							<tr>
								<td>
									<!--  食料品のお買い物 -->
									<a th:href="@{/html/unmounting.html}">
										<img th:src="@{/image/sideButton/point_mu11.gif}" class="img_border" />
									</a>
								</td>
							</tr>
						</table>
					</div>
				</td>

				<td>
					<form action="#" th:action="@{/goodsDetail/exchange}" th:object="${goodsDetailForm}" method="post">
						<div class="frame_outside">
							<table>
								<tr>
									<td colspan="2">
										<table th:background="@{/image/backGround/h1_lower.gif}" width="720px" height="85px">
											<tr>
												<td><font size="5">&nbsp;アイテム詳細</font></td>
											</tr>
										</table>

										<table cellspacing="1" width="720px" height="400px" bgcolor="#FFFFFF">
											<tr>
												<td height="40px" align="left" colspan="3" class="point_and_item_name">
													<font color="red">
														<label>&nbsp;</label>
														<label th:text="${#numbers.formatInteger(goodsDetailForm.goodsPoint, 3, 'COMMA')}"/>
														<label>&nbsp;Point&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
													</font>
													<font size="3pt">
														<label th:text="${goodsDetailForm.goodsName}"/>
													</font>
												</td>
											</tr>
											<tr>
												<td align="left" valign="top" height="182px">
													<img th:src="@{/image/item/{imagePath}(imagePath=${goodsDetailForm.imagePath})}" width="220px" height="182px" />
												</td>
												<td width="60px"></td>
												<td align="left" valign="top">
													<font size="2pt">
														<label th:text="${goodsDetailForm.goodsInfo1}"/><br /><br />
														<label th:text="${goodsDetailForm.goodsInfo2}"/><br /><br />
														アイテム番号：[<label th:text="${goodsDetailForm.goodsId}"/>]<br />
														カテゴリ：[<label th:text="${goodsDetailForm.categoryName}"/>]
													</font>
												</td>
											</tr>
											<tr>
												<td align="center" colspan="3">
													<div class="frame">
														<th:block th:if="${goodsDetailForm.inputExchage == true}">
															<table width="400px">
																<tr>
																	<td align="left" height="50px">
																		<input id="exchangeAmount" name="exchangeAmount" maxlength="2" styleClass="text_box" />
																		&nbsp;&nbsp;&nbsp;
																		<input type="submit" name="exchangeButton" value="交換" />
																	</td>
																</tr>
																<tr>
																	<td align="left">
																		<font size="2pt">
																			※半角数字で入力してください <br /> ポイント交換手続きの上限は1回につき99個までとなります
																		</font>
																	</td>
																</tr>
															</table>
														</th:block>
														<th:block th:if="${goodsDetailForm.inputExchage == false}">
															<table width="500px">
																<tr>
																	<td align="left" height="50px">
																		<table>
																			<tr>
																				<td>[</td>
																				<td>交換個数</td>
																				<td>:</td>
																				<td align="right">
																					<label th:text="${goodsDetailForm.exchangeAmount}"/>個
																				</td>
																				<td>]</td>
																			</tr>
																			<tr>
																				<td>[</td>
																				<td>合計交換ポイント</td>
																				<td>:</td>
																				<td align="right">
																					<label th:text="${#numbers.formatInteger(goodsDetailForm.totalExchagePoint, 3, 'COMMA')}"/> ポイント
																				</td>
																				<td>]</td>
																			</tr>
																			<tr>
																				<td>[</td>
																				<td>交換前所持ポイント</td>
																				<td>:</td>
																				<td align="right">
																					<label th:text="${#numbers.formatInteger(goodsDetailForm.beforeMyPoint, 3, 'COMMA')}"/> ポイント
																				</td>
																				<td>]</td>
																			</tr>
																			<tr>
																				<td>[</td>
																				<td>交換後所持ポイント</td>
																				<td>:</td>
																				<td align="right">
																					<label th:text="${#numbers.formatInteger(goodsDetailForm.afterMyPoint, 3, 'COMMA')}"/> ポイント
																				</td>
																				<td>]</td>
																			</tr>
																		</table>
																	</td>
																	<td></td>
																</tr>
																<tr>
																	<td>
																		<font size="2pt"><b>上記の内容で交換してよろしいですか？ </b></font>
																	</td>
																	<td align="left">
																		<input type="submit" name="confirmationButton" value=" 確 認 " />
																		<input type="submit" name="cancelButton" value="キャンセル " />
																	</td>
																</tr>
															</table>
															<input type="hidden" id="hidExchangeAmount" name="hidExchangeAmount"/>
														</th:block>
													</div>
												</td>
											</tr>
											<th:block th:if="${not #strings.isEmpty(goodsDetailForm.errorMessage)}">
												<tr>
													<td colspan="3">
														<font color="red"><label th:text="${goodsDetailForm.errorMessage}"/></font>
													</td>
												</tr>
											</th:block>
										</table>
									</td>
								</tr>
							</table>
						</div>
						<input type="hidden" id="hidGoodsPoint" name="hidGoodsPoint"/>
						<input type="hidden" id="hidGoodsName" name="hidGoodsName"/>
						<input type="hidden" id="hidImagePath" name="hidImagePath"/>
						<input type="hidden" id="hidGoodsInfo1" name="hidGoodsInfo1"/>
						<input type="hidden" id="hidGoodsInfo2" name="hidGoodsInfo2"/>
						<input type="hidden" id="hidGoodsId" name="hidGoodsId"/>
						<input type="hidden" id="hidCategoryName" name="hidCategoryName"/>
						<input type="hidden" id="hidTotalExchagePoint" name="hidTotalExchagePoint"/>
						<input type="hidden" id="hidAfterMyPoint" name="hidAfterMyPoint"/>
						<input type="hidden" id="hidMaxExchangeCount" name="hidMaxExchangeCount"/>
					</form>
				</td>
			</tr>
		</table>
	</div>

</body>
</html>
