<!-- Author:sugou -->
<!-- Date:2022/04/30 -->
<!-- Copyright Notice:IT Engineer Center Co.,Ltd. -->
<!-- Description:メイン画面です。 -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>メイン画面</title>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<link href="/css/menu.css" th:href="@{/css/menu.css}" rel="stylesheet" />
<link href="/css/top.css" th:href="@{/css/top.css}" rel="stylesheet" />
<link href="/css/login.css" th:href="@{/css/login.css}" rel="stylesheet" />
<script th:src="@{/js/top.js}" type="text/javascript"></script>
</head>

<body class="body_image">

	<div th:include="~{block/top::headertop}"></div>
	
	<form action="#" th:action="@{/main/viewPointDetail}" th:method="post" th:object="${mainForm}" name="mainForm">
		<div align="center">
			<table class="dummy_table">
				<tr>
					<td class="td_center">
						<!-- ネットショッピング -->	
	 					<a th:href="@{/html/unmounting.html}">
							<img th:src="@{/image/button/point_mu01.gif}" class="img_border" />
						</a>
					</td>
					<td class="td_center">
						<!-- オークション -->
	 					<a th:href="@{/html/unmounting.html}">
							<img th:src="@{/image/button/point_mu02.gif}" class="img_border" />
						</a>
					</td>
					<td class="td_center">
						<!-- 本やCDのお買い物 -->
						<a th:href="@{/html/unmounting.html}">
							<img th:src="@{/image/button/point_mu03.gif}" class="img_border" />
						</a>
					</td>
				</tr>
				<tr>
					<td class="td_center">
						<!-- 宿泊予約・切符購入 -->
						<a th:href="@{/html/unmounting.html}">
							<img th:src="@{/image/button/point_mu04.gif}" class="img_border" />
						</a>
					</td>
					<td class="td_center">
						<!-- アンケート -->
						<a th:href="@{/html/unmounting.html}">
							<img th:src="@{/image/button/point_mu05.gif}" class="img_border" />
						</a>
					</td>
					<td class="td_center">
						<!-- 歩いて -->
						<a th:href="@{/html/unmounting.html}">
							<img th:src="@{/image/button/point_mu06.gif}" class="img_border" />
						</a>
					</td>
				</tr>
				<tr>
					<td class="td_center">
						<!-- 音楽を聴いて -->
						<a th:href="@{/html/unmounting.html}">
							<img th:src="@{/image/button/point_mu08.gif}" class="img_border" />
						</a>
					</td>
					<td class="td_center">
						<!-- 映画やドラマを見て -->
						<a th:href="@{/html/unmounting.html}">
							<img th:src="@{/image/button/point_mu09.gif}" class="img_border" />
						</a>
					</td>
					<td class="td_center">
						<!-- 無料登録 -->
						<a th:href="@{/html/unmounting.html}">
							<img th:src="@{/image/button/point_mu10.gif}" class="img_border" />
						</a>
					</td>
				</tr>
				<tr>
					<td class="td_center">
						<!-- 食料品のお買い物 -->
						<a th:href="@{/html/unmounting.html}">
							<img th:src="@{/image/button/point_mu11.gif}" class="img_border" />
						</a>
					</td>
				</tr>
			</table>

			<br /><br />

			<table>
				<tr>
					<td>
						<!-- ポイント確認・交換 -->
						<a href="javascript:mainForm.submit()">
							<img th:src="@{/image/button/point_nav01.gif}" class="img_border" />
						</a>
					</td>
					<td>
						<!-- ポイント貯め方講座 -->
						<a th:href="@{/html/unmounting.html}">
							<img th:src="@{/image/button/point_nav02.gif}" class="img_border" />
						</a>
					</td>
				</tr>
			</table>
		</div>

	</form>
</body>
</html>
